/* Base */
@import './base/reset';
@import './base/colors';
@import './base/typography';

/* Components (optional) */
@import './components/swatches';
@import './components/submenu';
@import './components/bodyparts';

/* Helpers (optional) */
@import './helpers/animations';

// @import './helpers/functions';
// @import './helpers/mixins';
// @import './helpers/variables';

body {
    background: rgb(231, 243, 255);
}

.logo {
    font-size: 100px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgb(82, 70, 252);
    opacity: .2;
    margin-top: 10px;
    left: 40%;
    transform: translateX(-50%);
    animation: tada .9s forwards linear;
    position: absolute;
    z-index: 999;
}

.circle {
    background: #ffb5b5c9;
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 50%;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}


