.human {
    margin-top: -50px;
    width: 50%;
    margin-left: 90px;
}

.head {
    transform-origin: center bottom;
    transition: 100ms linear all;
}

.body {
    width: 130%;
    margin-left: -41px;
    margin-top: -22px;
    position: relative;
    z-index: 10;
    transform-origin: center top;
    transition: 100ms linear all;
}

.leg {
    width: 60%;
    margin-left: 21px;
    margin-top: -87px;
    position: relative;
    z-index: -55;
    transform-origin: center;
    transition: 100ms linear all;
}